section.finances-section
  .wrapper
    .finances-section__container
      .finances-section__images-block
        .swiper-bullet-mini
          .finances-section__blocks.swiper-wrapper
            .finances-section__block.swiper-slide
              img.finances-section__img(src="images/finances-section-img-1.jpg" loading="lazy" width="560" height="620" alt="image")
            .finances-section__block.swiper-slide
              img.finances-section__img(src="images/finances-section-img-2.jpg" loading="lazy" width="560" height="620" alt="image")
            .finances-section__block.swiper-slide
              img.finances-section__img(src="images/finances-section-img-3.jpg" loading="lazy" width="560" height="620" alt="image")
          .bullet-pagination-mini
      .finances-section__box
        .finances-section__box-left
          h2.finances-section__title.font-w-p-regular.font-s-52.text-up
            | Почему нужно 
            br.no-br
            span.color-grey начать цветочный 
            br.no-br
            span.color-grey бизнес сейчас?
          .finances-section__text
            .font-s-20
              span.font-w-medium Цветы являются актуальным товаром во все времена, 
              br.no-br
              | кроме этого, сегодня наблюдается рост тенденции 
              br.no-br
              | на приобретение букетов не только по специальному 
              br.no-br
              | поводу, но и в обычные будни.
            .font-s-20
              | Поэтому, правильно позиционируя себя на рынке, 
              br.no-br
              | используя уже проверенную концепцию, систему 
              br.no-br
              | работы и качественный товар, 
              span.font-w-medium вы гарантированно 
              br.no-br
              span.font-w-medium будете обеспечены прибылью.
        .finances-section__box-right
          .finances-section__rectangle
            .font-w-p-regular.font-s-50 В 2,8 раз
            .font-s-16
              | за последний год выросло количество 
              br
              | онлайн-заказов на доставку цветов
          .finances-section__rectangle.finances-section__rectangle--green
            .font-w-p-regular.font-s-50 Более 50%
            .font-s-16
              | жителей России покупают цветы 
              br
              | регулярно и эта цифра только растет

      h2.finances-section__title-2.font-w-p-regular.font-s-52.text-up
        | Показатели, на которые вы можете 
        br.no-br
        | рассчитывать, 
        span.color-grey став партнером 
        br.no-br
        span.color-grey франшизы «101 Букет»:
      .swiper-bullet
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            .font-w-p-regular.font-s-42 889 000 руб
            .font-s-16 ежемесячная <br> выручка
          .finances-section__card.swiper-slide
            .font-w-p-regular.font-s-42 от 2 000 руб
            .font-s-16 средний чек <br> одного клиента
          .finances-section__card.swiper-slide
            .font-w-p-regular.font-s-42 212 000 руб
            .font-s-16 ежемесячная <br> чистая прибыль
          .finances-section__card.swiper-slide
            .font-w-p-regular.font-s-42 11 месяцев
            .font-s-16 срок окупаемости <br> одной точки
          .finances-section__card.swiper-slide
            .font-w-p-regular.font-s-42 от 15 продаж
            .font-s-16 будет совершаться <br> ежедневно
          .finances-section__card.swiper-slide
            .font-w-p-regular.font-s-42 23,9%
            .font-s-16 рентабельность <br> по чистой прибыли
        .bullet-pagination
      .finances-section__bottom
        .font-w-p-regular.font-s-30.text-up
          | Узнайте, какие инвестиции 
          br
          span.color-grey потребуются для открытия
        .finances-section__bottom-text.font-w-medium.font-s-20 Скачайте финансовую модель франшизы
        form.finances-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Скачать
