footer.footer
  .footer__container
    .footer__brand.font-w-regular.font-s-16 Франшиза службы <br> доставки цветов
    img.footer__logo(src="images/logo.png" loading="lazy" width="339" height="339" alt="logo")
    a.footer__privacy.font-w-regular.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__connection
      a(href="tel:+79990000000")
        img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="15" height="15" alt="icon")
      include ../components/phone-number.pug
