header.header
  .header__container
    .header__brand
      .font-w-regular.font-s-16 Франшиза службы <br> доставки цветов
    img.header__logo(src="images/logo.png" loading="lazy" width="339" height="339" alt="logo")
    .header__connection
      a(href="tel:+79990000000")
        img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="15" height="15" alt="icon")
      include ../components/phone-number.pug
