section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-p-regular.font-s-52.text-up
        | Чем «101 Букет» отличается 
        br
        | от других подобных франшиз?
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.png" loading="lazy" width="148" height="148" alt="icon")
            .reasons-section__card-title.font-w-p-regular.font-s-24 Бизнес-модель:
            .font-s-16-a
              | вы получите эффективную 
              br.no-br
              | бизнес-модель и запустите 
              br.no-br
              | службу доставки 
              br.no-br
              | с проработанными 
              br.no-br
              | процессами, которые 
              br.no-br
              | будут приносить вам 
              br.no-br
              | стабильную прибыль
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.png" loading="lazy" width="148" height="148" alt="icon")
            .reasons-section__card-title.font-w-p-regular.font-s-24 Готовая концепция:
            .font-s-16-a
              | вы будете предлагать 
              br.no-br
              | клиентам максимально 
              br.no-br
              | быструю доставку — 
              br.no-br
              | в течение часа, 
              br.no-br
              | и ассортимент цветов 
              br.no-br
              | разной ценовой 
              br.no-br
              | категории, поэтому всегда 
              br.no-br
              | будете обеспечены 
              br.no-br
              | заказами
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.png" loading="lazy" width="148" height="148" alt="icon")
            .reasons-section__card-title.font-w-p-regular.font-s-24 Поддержка:
            .font-s-16-a
              | мы поможем вам во всех 
              br.no-br
              | основных аспектах запуска 
              br.no-br
              | бизнеса: от формирования 
              br.no-br
              | сильной команды 
              br.no-br
              | до закупки нужного 
              br.no-br
              | оборудования, будем 
              br.no-br
              | сопровождать даже 
              br.no-br
              | после открытия
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.png" loading="lazy" width="148" height="148" alt="icon")
            .reasons-section__card-title.font-w-p-regular.font-s-24 Безопасный старт:
            .font-s-16-a
              | мы ведем бизнес уже 
              br.no-br
              | с 2020 года и знаем, как 
              br.no-br
              | избежать множества 
              br.no-br
              | ошибок, которые чаще 
              br.no-br
              | всего совершают новички 
              br.no-br
              | и поможем быстро выйти 
              br.no-br
              | на стабильную прибыль
        .bullet-pagination
